//bootstrap
.card {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
.form-control {
  border-radius: 30px;
}

button {
  border-radius: 30px;
  padding: 10px;
}

.avatar-dropdown {
  position: absolute;
  top: 100px;
  left: -35px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.avatar-option:hover {
  background-color: #f0f0f0;
}
