// 지원의 페이지들 헤더와 겹치치 않게 통일 설정
.joinspaceSection {
  position: relative;
  top: 120px; /* 헤더 높이만큼 띄우기 */
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; /* 헤더보다 낮게 */
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  padding: 20px;
  min-height: 100vh; /* 최소 높이 지정 */
  // align-items: center;
  // overflow: auto; /* 내용이 많으면 스크롤 가능 */
  // padding-bottom: 50px; /* 아래쪽 여백 추가 */

  /* 반응형: 작은 화면에서는 세로 정렬 */
  @media (max-width: 768px) {
    top: 70px;
    flex-direction: column;
    align-items: center;
  }

  > .leftSideContainer {
    text-align: center;
    // margin: 30px;
    left: 0;
    width: 45%;
    // min-height: calc(100vh - 70px); /* 최소 높이 설정 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    // justify-content: space-between; /* 내용이 꽉 차도록 */

    @media (max-width: 768px) {
      width: 100%;
      min-height: auto;
      padding-bottom: 50px; /* 작은 화면에서도 여유 공간 */
    }

    > .createSpaceBtnDiv,
    > .enterSpaceBtnDiv {
      // border: 1px solid black;
      // margin: 50px 0;
      padding: 20px;
      width: 80%; /* 반응형에서 적절한 크기 */

      @media (max-width: 768px) {
        width: 90%;
      }

      & > button {
        margin: 30px 0;
        padding: 10px 20px;
        font-size: 16px;
        border: 2px solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
          border-color: white;
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* 흰색 빛나는 효과 */
        }
      }
    }
  }

  > .mySpacelistDiv {
    // border: 1px solid black;
    width: 55%;
    padding: 20px;
    min-height: calc(100vh - 300px); /* 최소 높이 설정 */
    max-height: 65vh;
    // overflow-y: auto; /* 스크롤 가능 */

    @media (max-width: 768px) {
      width: 100%;
      min-height: auto;
      padding-bottom: 100px; /* 아래쪽 여유 공간 */
    }
  }
}

// SpaceList.scss의 스타일
.space-list-container {
  text-align: center;
  padding: 20px;
  height: 500px;
  // border: 1px solid black;

  .space-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .space-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .space-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  .pagination-buttons {
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
    // margin-top: 15px;
  }

  @media (max-width: 768px) {
    .space-circle {
      width: 50px;
      height: 50px;
      font-size: 12px;
    }
  }
}
